<div class="body">
  <div class="space"></div>
  <div class="space"></div>

  <div class="scroll_img">
    <div class="inner-block">
      <div class="fade-img-box">
        <%= image_tag "_DSF6569-2.jpg" %>
        <%= image_tag "DSC00771.jpg" %>
        <%= image_tag "DSC02158.jpg" %>
        <%= image_tag "DSC04131.jpg" %>
      </div>
    </div>
  </div>

  <div class="space"></div>
  <h1 class="fadeleft">Gallery</h1>
  <div class="grid">
    <% @posts.each do |post| %>
      <div class="post">
        <%= link_to image_tag(post.image, class:"post_img fadein"), post_path(post.id) %>
        <p class="info fadein"><%= post.title %></p>
      </div>
    <% end %>
  </div>

  <div class="space"></div>

  <div class="fadein ">
    <%= link_to "もっと見る", posts_path, class: "btn_standard" %>
  </div>

  <div class="space"></div>
  <h1 class="fadeleft">Profile</h1>
  <div class="profile">
    <div class="fadein">
      <%= image_tag("profile.jpg", class:"profile_img") %>
    </div>
    <div class="profile_name">
      <h2>Hiroki Shiozaki</h2>
    </div>
    <div class="profile_content">
      <h2 class="fadeleft">あいさつ</h2>
      <p class="grid_content faderight">
        こんにちは！<br>
        アクセスありがとうがざいます！<br>
        <br>
        僕の作品たちをごゆっくりお楽しみください！<br>
        右上のボタンからInstagramのフォローも忘れずにお願いします！
      </p>
      <h2 class="fadeleft">使用機材</h2>
      <div class="equip">
        <div class="camera">
          <h3 class="fadeleft">Camera</h3>
          <ul class="equip_content faderight">
            <li class="faderight">SONY α6400</li>
          </ul>
        </div>
        <div class="lens">
          <h3 class="fadeleft">Lens</h3>
          <ul class="equip_content faderight">
            <li class="faderight">SONY SEL55F18Z</li>
            <li class="faderight">SIGMA 35mm F1.4 DG DN</li>
            <li class="faderight">SIGMA 16mm F1.4 DC DN</li>
            <li class="faderight">TAMRON 17-70mm F2.8 Di III-A VC RXD</li>
            <li class="faderight">Super-Takumar 55mm F1.8</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="space"></div>
  <div class="container fadein">
    <h1>Contact</h1>
    <p>写真撮影のご依頼などはインスタグラムのダイレクトメッセージからお願いします！</p>
  </div>
</div>
