<div class="body">
<div class="space"></div>
<h1>edit post</h1>

<%= form_with model: @post, local: true do |form| %>
  <p class="explain">写真の編集</p>
  <%= form.file_field :image %>
  <p class="explain">タイトルの編集</p>
  <%= form.text_field :title, placeholder: "タイトルの入力" %>
  <p class="explain">カテゴリーの選択をしてください</p>
  <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"pair"})%>
  <p class="explain">モデルの名前の編集</p>
  <%= form.text_field :name, placeholder: "モデルの名前の入力" %>
  <p class="explain">モデルのURLの編集</p>
  <%= form.text_field :url, placeholder: "モデルのURLの入力" %>
  <p class="explain">その他記載事項の編集</p>
  <%= form.text_area :text, size: "30x10" %>
  <%= form.submit "edit post" %>
<% end %>

</div>