<div class="body">
  <div class="space"></div>
  <div class="contents">

    <div class="left_content">
      <h1><%= @post.title %></h1>
      <%= image_tag(@post.image, class:"post_img_show") %>
      <% if @post.text != nil %>
        <p><%= safe_join(@post.text.split("\n"),tag(:br)) %></p>
      <% end %>
      <% if @post.name != nil && @post.url != nil %>
        <p>model: <%= link_to @post.name, @post.url, class: 'model' %></p>
      <% end %>
      <% if @post.name != nil && @post.url == nil %>
        <p>model: <%= @post.name %></p>
      <% end %>
      <div class="space"></div>
      <div class="btns">
        <% if user_signed_in? %>
          <%= link_to "編集", edit_post_path(@post.id), class: 'btn_standard' %>
          <%= link_to '削除', post_path(@post.id), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn_standard' %>
        <% end %>
      </div>
    </div>

    <div class="right_content">
      <h1>関連する写真</h1>
      <div class="grid">
        <% @posts.each do |post| %>
          <div class="post">
            <%= link_to image_tag(post.image, class:"post_img"), post_path(post.id) %>
            <p class="info"><%= post.title %></p>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="space"></div>

</div>