<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('logo.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
  </head>

  <body oncontextmenu="return false;">
    <header class="header">
      <div class="logo">
        <%= link_to "Shio's Photo", "/", class: "logo_content" %>
      </div>
      <div class="logo_resp">
        <%= link_to "Shio's", "/", class: "logo_content" %><br>
        <%= link_to "Photo", "/", class: "logo_content" %>
      </div>
      <nav>
        <a href="https://www.instagram.com/shio.0110", target: :_blank><li class="navi_list">instagram</li></a>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="footer">
        <p class="copyright">Copyright Shio's-Photo allright reserved</p>
      </div>
      <nav>
        <a href="https://www.instagram.com/shio.0110", target: :_blank><li class="navi_list">instagram</li></a>
      </nav>
      <% if user_signed_in? %>
        <p class="log"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
        <p class="log"><%= link_to 'new post', new_post_path, method: :get %></p>
      <% end %>
    </footer>
  </body>
</html>
