<!DOCTYPE html>
<html>
  <head>
    <title>HsPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        h.Shio's Photo
      </div>
      <nav>
        <a href="/"><li class="navi_list">instagram</li></a>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="footer">
        <p class="copyright">Copyright h.Shio's-Photo allright reserved</p>
      </div>
      <nav>
        <a href="/"><li class="navi_list">instagram</li></a>
      </nav>
      <% if user_signed_in? %>
        <p class="log"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
      <% end %>
    </footer>
  </body>
</html>
